@import "../../scss/abstracts/mixins.scss";
@import "../../scss/abstracts/variables.scss";

.NavBarMenuCard {
  text-align: center;
  padding: 0 10px 10px;
  .profile {
    border-radius: 50%;
    max-width: 150px;
    box-sizing: border-box;
    padding: 10px;
  }
  .profileInfo {
    overflow: hidden;
    height: 100px;
    @include transition(height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .profileInfocollapsed {
    overflow: hidden;
    height: 80px;
    @include transition(height);
    opacity: 0;
    height: 0;
  }
  .name {
    font-size: 15px;
  }
  .title {
    color: #a2a2a3;
    letter-spacing: 3px;
    margin: 2%;
    font-size: 14px;
  }
  .icons {
    display: flex;
    justify-content: center;
    .icon {
      width: 28px;
      height: 28px;
      margin: 0 10px;
      text-align: center;
      border-radius: 50%;
      border: 1.5px solid #64abd8;
      box-shadow: 0px 0px 0px 1px rgb(54 107 171);
      float: left;
      transition: all 0.5s ease;
      cursor: pointer;
    }
    .iconT {
      font-size: 17px;
      color: white;
      transition: all 0.5s ease;
    }
    .icon:hover {
      background-color: #64abd8;
      box-shadow: 0px 0px 1px 4px rgb(54 107 171);
      border-radius: 50%;
      transition: all 0.5s ease;
      .iconT {
        font-size: 19px;
        color: #2b2a2a;
      }
    }
  }
}
