@import "../scss/abstracts/mixins.scss";
@import "../scss/abstracts/variables.scss";

.projects {
  background: rgb(37, 37, 37);
  h1 {
    @include titleH1;
  }
  p {
    margin-bottom: 5%;
    @include pG;
    background: rgb(37, 37, 37);
  }
  .work {
    font-size: 150px;
    font-weight: var(--fontWeight-bold);
    position: absolute;
    color: var(--color-100);
    letter-spacing: -10px;
    right: -5%;
    bottom: -55%;
    opacity: 0.3;
    transform: rotate(-90deg);
  }
  .cardsProjects {
    background: rgb(37, 37, 37);
    margin-bottom: 13%;
  }
}
// de 821px a menor
@media (max-width: 821px) {
  .projects {
    background: rgb(37, 37, 37);
    h1 {
      margin-top: 3%;
      @include titleH1;
      font-size: 35px;
    }
    p {
      margin-bottom: 3%;
      @include pG;
      background: rgb(37, 37, 37);
      font-size: 16px;
    }

    .contornoH1 {
      margin-top: 12%;
    }

    .work {
      display: none;
    }
    .cardsProjects {
      background: rgb(37, 37, 37);
      margin-bottom: 13%;
      display: flex;
      justify-content: center;
    }
  }
}
