@import "../scss/abstracts/mixins.scss";
@import "../scss/abstracts/variables.scss";

.projects {
  h1 {
    @include titleH1;
  }
  p {
    margin-bottom: 7% !important;
    @include pG;
  }
  .work {
    font-size: 192px;
    font-weight: var(--fontWeight-bold);
    position: absolute;
    color: var(--color-100);
    letter-spacing: -10px;
    z-index: 1;
    right: 7%;
    opacity: 0.3;
  }
}
