@import "../../scss/abstracts/variables.scss";
@import "../../scss/abstracts/mixins.scss";

.image-container {
  position: relative;
  height: 250px;
}
.imagesProject {
  object-fit: fill;
  width: 100%;
  height: 250px;
  border-radius: 25px;
  opacity: 0.4;
}
.overlay {
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.imageoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
}
.logoText {
  z-index: 2;
  position: absolute;
  top: 50%; /* Ajusta la posición verticalmente */
  left: 50%; /* Ajusta la posición horizontalmente */
  transform: translate(-50%, -50%); /* Centra el span */
  font-size: 55px;
  font-family: "Outfit", sans-serif;
  font-weight: var(--fontWeight-medium);
  letter-spacing: 3px;
}
.description {
  display: none;
  text-align: justify;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  top: 20%; /* Ajusta la posición verticalmente */
  left: 30%; /* Ajusta la posición horizontalmente */
  transform: translate(-20%, -20%); /* Centra el span */
  line-height: 1.3;
}
.buttonVisita {
  display: none;
}
.coloroverlay01 {
  background: linear-gradient(130deg, #367eeb, #7031ac);
}

.coloroverlay02 {
  background: linear-gradient(130deg, #e9c709, rgba(184, 106, 18, 0.867));
}
.coloroverlay03 {
  background: linear-gradient(130deg, #278602, #00aeff);
}

.image-container:hover {
  flex-direction: column;
  align-items: center;

  .buttonVisita {
    height: 20%;
    width: 60%;
    top: 70%;
    position: absolute;
    display: block;
    z-index: 4;
    border: solid var(--color-400);
    border-radius: 25px;
    background: transparent;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-size: 19px;
    }
  }
  .description {
    display: block;
  }
  .imageoverlay {
    display: none;
  }
  .logoText {
    display: none;
  }
  .coloroverlay01 {
    background: var(--color-900);
  }
  .coloroverlay02 {
    background: var(--color-900);
  }
  .coloroverlay03 {
    background: var(--color-900);
  }

  .imagesProject {
    display: none;
  }
}

.buttonVisita {
  a {
    transition: 0.4s ease-in-out all;
    position: absolute;
    left: 35%;
  }
  .iconButton {
    position: absolute;
    display: none;
    left: -35px;
  }
}

.buttonVisita:hover {
  a {
    left: 20px;
  }
  .iconButton {
    display: block;
    color: var(--color-baseG);
  }
}
