/*abstract*/
@use "../src/Components/scss/abstracts/mixins.scss";
@use "../src/Components/scss/abstracts/variables.scss";
/*base*/
@use "../src/Components/scss/base/base.scss";
@use "../src/Components/scss/base/resets.scss";

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}
