@import "../../../scss/abstracts/mixins.scss";
@import "../../../scss/abstracts/variables.scss";

.NavBarMenuItem {
  text-align: left;
  display: flex;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
  a {
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    .itemContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      @include transition(width);
    }

    .itemContentcollapsed {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      white-space: nowrap; // no se desborde el texto
      width: 25px;
      @include transition(width);
    }

    .icon {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .iconT {
      font-size: 25px;
      color: var(--color-white);
    }

    .label {
      margin-left: 10px;
      overflow: hidden;
      font-size: 16px;
    }
  }
  a:hover {
    color: #2b2a2a;
    background-color: #64abd8;
    .iconT {
      color: #2b2a2a;
    }
    .label {
      font-weight: 500;
    }
  }
  &:hover {
    .tooltip {
      display: inline-block;
      animation-duration: 0.4s;
      animation-name: tooltip;
    }
  }
}

.tooltip {
  position: absolute;
  background-color: var(--color-900);
  left: 70px;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  display: none;
}

@keyframes tooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
