@import "../scss/abstracts/variables.scss";

.full-size {
  width: 100%;
  height: 100vh;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 70px;
      line-height: 50px;
      letter-spacing: -3px;
      padding-bottom: 3%;
    }
    p {
      color: #a2a2a3;
      letter-spacing: 3px;
      margin-bottom: 0;
      margin-top: 2%;
    }
  }
}
/*button*/
.contact-button {
  margin-top: 50px;
  max-width: 200px;
}
.button-cont {
  position: relative;
  height: 60px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.button-cont:hover {
  background: var(--color-500);
  box-shadow: 0 0 4px var(--color-500);
}
.button-cont span {
  position: absolute;
  display: block;
}
.button-cont span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, transparent, var(--color-500));
  animation: animate1 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.button-cont span:nth-child(3) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, transparent, var(--color-500));
  animation: animate3 1s linear infinite;
  animation-delay: 0s;
}
@keyframes animate3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.button-cont span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 10px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-500));
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
.button-cont span:nth-child(4) {
  left: 0;
  top: 100%;
  width: 10px;
  height: 100%;
  background: linear-gradient(0deg, transparent, var(--color-500));
  animation: animate4 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
.contact-button span.text {
  padding-top: 5%;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: var(--color-500);
  font-weight: var(--fontWeight-medium);
}
.contact-button:hover span.text {
  color: rgb(37, 37, 37);
}

// /* scroll */
