@import "./variables.scss";
@mixin transition($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin titleH1G {
  font-size: 70px;
  line-height: 50px;
  letter-spacing: -3px;
  padding-bottom: 3%;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin contornoH1 {
  min-width: 25%;
  max-width: 15%;
  border: 0.5px solid var(--color-500);
  border-radius: 15px;
  // box-shadow: var(--color-500) 0px 0px 4px 1px inset;
  margin-top: 7%;
  margin-bottom: 7%;
  z-index: 3;
}
@mixin titleH1 {
  font-size: 55px;
  line-height: 50px;
  letter-spacing: -1px;
  padding-bottom: 3%;
  text-align: center;
  -webkit-text-fill-color: var(--color-500);
  font-weight: var(--fontWeight-semiBold);
  margin-top: 3%;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin pG {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 3%;
}

// @mixin titleH2 {
//   text-align: center;
//   color: var(--color-500);
// }

@mixin Style-Contactme {
  position: relative;
  font-size: 20px;
}
