@import "./variables.scss";
@mixin transition($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin titleH1G {
  font-size: 70px;
  line-height: 50px;
  letter-spacing: -3px;
  padding-bottom: 3%;
}
@mixin titleH1 {
  font-size: 55px;
  line-height: 50px;
  letter-spacing: -1px;
  padding-bottom: 2%;
  text-align: start;
  color: var(--color-500);
  font-weight: var(--fontWeight-semiBold);
  margin-top: 3%;
}

@mixin pG {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 3%;
}
